.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app-sidenav {
  width: 200px;
  border-radius: 0px !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-drawer {
  background-color: rgb(31, 33, 182);
}

.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.text-white {
  color: white;
}
.app-sidenav-content {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.sidenav-container {
  flex: 1;
}

.app-sidenav mat-nav-list a[mat-list-item]:hover {
  background-color: #2023ce; /* Opcional: un fondo semitransparente sutil */
}

.app-sidenav mat-nav-list a[mat-list-item]:hover .text-white,
.app-sidenav mat-nav-list a[mat-list-item]:hover mat-icon {
  color: white !important;
}

.app-sidenav mat-nav-list a[mat-list-item]:active .text-white,
.app-sidenav mat-nav-list a[mat-list-item]:active mat-icon,
.app-sidenav mat-nav-list a[mat-list-item]:focus .text-white,
.app-sidenav mat-nav-list a[mat-list-item]:focus mat-icon,
.app-sidenav mat-nav-list a[mat-list-item].cdk-program-focused .text-white,
.app-sidenav mat-nav-list a[mat-list-item].cdk-program-focused mat-icon {
  color: white !important;
}
