.pantalla {
  background: #34495e;
  padding: 25px;
  border-left: 5px solid #f1c40f;
  max-width: 500px;
  border-radius: 5px;
}

h1 {
  color: #f1c40f;
  margin-top: 0;
}

.log-atencion {
  background: #1a252f;
  padding: 10px;
  border-radius: 4px;
  line-height: 1.6;
}
